.navSection {
  padding: 10px 60px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 250ms ease-in-out;
}

.navbar.active {
  background-color: rgba(36, 35, 35, 0.99);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar__Container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.navbar__Links {
  display: flex;
}

.navbar__Links > li {
  list-style: none;
  padding: 4px 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-size: 13px;
  font-weight: 400;
}

.btn {
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(254, 199, 20, 0);
  color: white;
  border: 1px solid var(--clr-primary-4);
}

.navbar__Links > li:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--clr-primary-4);
}

.menu {
  display: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
}

/* =================== */
/*   Media Queries */
/* =================== */

@media screen and (max-width: 991px) {
  .navSection {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .menu {
    display: block;
    border: none;
    color: white;
  }

  .navbar__Links {
    display: none;
  }

  .navbar__mobileLinks {
    display: flex;
    padding: 0;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 111%;
    right: 0%;
    width: 100%;
    font-size: 13px;
    background-color: rgba(240, 242, 246, 1);
    padding: 10px 0px;
  }
  .navbar__mobileLinks > li {
    padding: 6px 10px;
    color: black;
    font-size: 13px;
  }

  .navbar__mobileLinks > li:hover {
    cursor: pointer;
  }

  .signup {
    font-size: 13px;
    border: none;
    margin-top: 7px;
    margin-bottom: 15px;
  }

  .donateButton {
    background-color: transparent;
    font-size: 13px;
    margin-top: 0px;
    margin-left: -20px;
  }
}
